<!doctype html>
<html lang="en">

<head>
  <title>Entreprises</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    media="all">
  <style>
    .navbar {
      margin-bottom: 60px;
    }

    .title {
      color: #e80016;
      font-size: 25px;
      margin-bottom: 15px;
      width: 100%;
      text-align: center;
    }

    .title-hr {
      border-color: #e80016;
    }

    .input-group-text {
      background-color: #e80016;
    }

    .fa-filter {
      color: white;
    }

    .form-group {
      color: #e80016;
    }

    .form-container {
      width: 100%
    }

    .form-container form {
      margin: auto;
      width: 322px;
    }

    .cards {
      width: 100%
    }

    .card {
      margin: auto;
      margin-bottom: 30px;
    }

    .card img {
      max-height: 280px;
    }

    .card-title {
      color: #e80016;
    }

    .card-text {
      color: #ea3e4ea8
    }

    .navbar-nav {
      margin-left: auto;
      margin-right: 0 !important
    }

    .nav-item {
      background-color: #e80016;
      border-color: #e80016;
      margin-right: 15px;
    }

    .nav-link {
      color: white !important;
    }
  </style>
  <script src="https://kit.fontawesome.com/8b3d0397b4.js" crossorigin="anonymous"></script>

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img width="100" src="https://images-na.ssl-images-amazon.com/images/I/31s65UrXsZL._SX355_.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#">Contact<span class="sr-only"></span></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>

    <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 15px">



      <% for(let i=0; i < companies.length; i++){ %>
      <div id="cards" class="cards">
        <div class="card mb-3">
          <img src="<%= companies[i].picture %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= companies[i].name %></h5>
            <p class="card-text"><%= companies[i].description %></p>
          </div>
        </div>
      </div>
      <% } %>



    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>